<strong>Hello, {{ organizer }}</strong>
<p>New participant has subscribed to your Meetup.</p>
<p>
  <strong>User: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Email: </strong> {{ meetup }} <br />
</p>